<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id">Update Penjualan</ion-title>
    <ion-title *ngIf="!id">Tambah Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
             
            </ion-col>
            <ion-col>
             
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <table class="ion-margin-bottom" style="border:none;">
          <tr class="nohover" style="border:none;">
            <td style="border:none;">
              <ion-label position="stacked">Nama Pelanggan :</ion-label>
              <ion-input type="text" [(ngModel)]="nama_pelanggan" placeholder="Nama Pelanggan" style="border:none;">
              </ion-input>
            </td>
            <td style="border:none;">
              <ion-label position="stacked">Tgl. Transaksi :</ion-label>
              <ion-input type="date" [(ngModel)]="waktu"></ion-input>
            </td>
          </tr>
        </table>
      </ion-item>
      <ion-item class="padding" lines="none">
        <table>
          <tr>
            <th>Produk</th>
            <th class="ion-text-right">Harga</th>
            <th>&nbsp;</th>
            <th class="ion-text-right" width=" 50">Qty</th>
            <th>&nbsp;</th>
            <th class="ion-text-right">Subtotal</th>
          </tr>
          <tr>
            <td>Air&nbsp;RO</td>
            <td>
              <ion-input class="ion-text-right" type="text" [(ngModel)]="harga_ro" placeholder="0"></ion-input>
            </td>
            <td align="center">x</td>
            <td>
              <ion-input class="ion-text-right" type="text" [(ngModel)]="kuantiti_ro" placeholder="0"></ion-input>
            </td>
            <td align="center">=</td>
            <td align="right">
              {{harga_ro*kuantiti_ro*1}}
            </td>
          </tr>
          <tr>
            <td>Air&nbsp;Biasa</td>
            <td>
              <ion-input class="ion-text-right" type="text" [(ngModel)]="harga_biasa" placeholder="0"></ion-input>
            </td>
            <td align="center">x</td>
            <td>
              <ion-input class="ion-text-right" type="text" [(ngModel)]="kuantiti_biasa" placeholder="0"></ion-input>
            </td>
            <td align="center">=</td>
            <td align="right">
              {{harga_biasa*kuantiti_biasa*1}}
            </td>
          </tr>
        </table>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Catatan :</ion-label>
        <ion-input type="text" [(ngModel)]="catatan" placeholder="Catatan"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top ion-text-center">
    <ion-button *ngIf="!id" expand="full" (click)="tambah()">Simpan</ion-button>
    <ion-button *ngIf="id" expand="full" (click)="update()">Update</ion-button>
    <br>
    <ion-button *ngIf="id" color="danger" fill="clear" (click)="hapus()">Hapus</ion-button>
  </div>
</ion-content>