<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
    <!-- <ion-buttons slot="end" style="margin-right: 26px;">
      <ion-button  color="medium" fill="outline" [routerLink]="['/produk-detail/id']">
        <ion-icon name="add"></ion-icon>
        Tambah
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="loading">
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:180px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!loading">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let db of data" [routerLink]="['/produk-detail/', db.id, db.nama_produk, db.harga, db.keterangan]">
          <ion-thumbnail slot="start">
            <img src="https://ubmart.online/api_sab/{{db.id}}.png">
          </ion-thumbnail>
          <ion-label class="ion-text-nowrap">
            <div style="font-weight: 600;">{{db.nama_produk}}</div>
            <div>{{db.harga | number}}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>