<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengeluaran</ion-title>
    <ion-buttons slot="end" style="margin-right: 26px;">
      <ion-button color="light" fill="outline" [routerLink]="['/pengeluaran-detail/','','','','']">
        <ion-icon name="add"></ion-icon>
        Tambah
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-vertical" style="max-width: 100%;">
    <ion-card-content class="ion-no-padding">
      <ion-searchbar class="ion-no-padding" debounce="500" animated placeholder="Pencarian"
        (keyup)="load_data($event.target.value)">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-item class="ion-margin-bottom" style="width:290px;">
    <ion-label>Bulan : </ion-label>
    <ion-select [(ngModel)]="bulan" interface="popover" (ionChange)="load_data('')">
      <ion-select-option value="1">Januari</ion-select-option>
      <ion-select-option value="2">Februari</ion-select-option>
      <ion-select-option value="3">Maret</ion-select-option>
      <ion-select-option value="4">April</ion-select-option>
      <ion-select-option value="5">Mei</ion-select-option>
      <ion-select-option value="6">Juni</ion-select-option>
      <ion-select-option value="7">Juli</ion-select-option>
      <ion-select-option value="8">Agustus</ion-select-option>
      <ion-select-option value="9">September</ion-select-option>
      <ion-select-option value="10">Oktober</ion-select-option>
      <ion-select-option value="11">November</ion-select-option>
      <ion-select-option value="12">Desember</ion-select-option>
    </ion-select>
    <ion-input class="ion-text-end" [(ngModel)]="tahun" (ionChange)="load_data('')"></ion-input>
  </ion-item>

  <div *ngIf="loading">
    <ion-card style="max-width: 100%;">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:180px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!loading" style="max-width: 100%;">
    <ion-card-content class="ion-no-padding">
      <table>
        <tr>
          <th>No.</th>
          <th>Waktu</th>
          <th>Pengeluaran</th>
          <th style="text-align: right;">Nominal</th>
        </tr>
        <tr *ngFor="let db of data; let i = index"
          [routerLink]="['/pengeluaran-detail/', db.id, db.waktu, db.nama_pengeluaran, db.nominal]">
          <td>{{i + 1}}</td>
          <td>{{db.waktu | date:'mediumDate'}}</td>
          <td>{{db.nama_pengeluaran}}</td>
          <td align="right">{{db.nominal | number}}</td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
          <td align="right"><b>{{total | number}}</b></td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>