.bg {
    background-image: url("https://i.pinimg.com/originals/29/96/7c/29967c0267d58120fbcb043020b09858.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.logo {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    opacity: 0.96;
    padding: 16px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(21, 44, 143);
}
