<ion-content>
  <div class="ion-padding bg">
    <div style="margin:auto;padding-top:4%;width: 300px;">

      <div class="logo">SAB</div> 
      <ion-card>
        <ion-card-content class="ion-padding">
          <ion-item lines="none">
            <ion-label position="stacked">Password :</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-card-content class="ion-padding">
          <ion-button expand="block" (click)="login()">Login</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>