<ion-app>
  <ion-split-pane contentId="main-content" style="--side-width:30px;">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list *ngIf="isLoggedIn==true" id="inbox-list" class="ion-text-start">
          <ion-list-header>SAB ADMIN</ion-list-header>
          <ion-note color="light">Sumber Air Barokah</ion-note>

          <br>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <hr>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 4" routerDirection="root" [routerLink]="['/laporan']" lines="none"
              detail="false" [class.selected]="selectedIndex == 4">
              <ion-icon slot="start" name="newspaper"></ion-icon>
              <ion-label>Laporan</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>