<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-vertical">
    <ion-card-content class="ion-no-padding">
      <ion-searchbar class="ion-no-padding" debounce="500" animated placeholder="Ketik Nama Pelanggan"
        (keyup)="load_data($event.target.value)">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading">
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:180px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="data.length > 0" style="font-weight:500;font-style:italic;margin:auto;padding-bottom:8px;width:600px;">
    <ion-note color="medium">
      pilih pelanggan
    </ion-note>
  </div>

  <ion-card *ngIf="!loading">
    <ion-card-content class="ion-no-padding">
      <table>
        <tr *ngFor="let db of data"
          [routerLink]="['/transaksi-detail/', '', '', '', db.id, db.nama_pelanggan, '', '', '', '', '']">
          <td>{{db.nama_pelanggan}}</td>
          <td width="1">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>