<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id">Update Pelanggan</ion-title>
    <ion-title *ngIf="!id">Tambah Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Nama Pelanggan :</ion-label>
        <ion-input type="text" [(ngModel)]="nama_pelanggan" placeholder="Nama Pelanggan"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Alamat :</ion-label>
        <ion-input type="text" [(ngModel)]="alamat" placeholder="Alamat"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Catatan :</ion-label>
        <ion-input type="text" [(ngModel)]="catatan" placeholder="Catatan"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top ion-text-center">
    <ion-button *ngIf="!id" expand="full" (click)="tambah()">Simpan</ion-button>
    <ion-button *ngIf="id" expand="full" (click)="update()">Update</ion-button>
    <br>
    <ion-button *ngIf="id" color="danger" fill="clear" (click)="hapus()">Hapus</ion-button>
  </div>
</ion-content>