<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Nama Produk :</ion-label>
        <ion-input type="text" [(ngModel)]="nama_produk" placeholder="Nama Produk"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Harga :</ion-label>
        <ion-input type="text" [(ngModel)]="harga" placeholder="0"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Keterangan :</ion-label>
        <ion-input type="text" [(ngModel)]="keterangan" placeholder="Keterangan"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top">
    <!-- <ion-button *ngIf="!id"  expand="full" (click)="tambah()">Simpan</ion-button> -->
    <ion-button *ngIf="id"  expand="full" (click)="update()">Update</ion-button>
  </div>
</ion-content>