<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id">Update Pengeluaran</ion-title>
    <ion-title *ngIf="!id">Tambah Pengeluaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Waktu :</ion-label>
        <ion-input type="date" [(ngModel)]="waktu" placeholder="Waktu"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Nama Pengeluaran :</ion-label>
        <ion-input type="text" [(ngModel)]="nama_pengeluaran" placeholder="Nama Pengeluaran"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Nominal :</ion-label>
        <ion-input type="text" [(ngModel)]="nominal" placeholder="0"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top ion-text-center">
    <ion-button *ngIf="!id" expand="full" (click)="tambah()">Simpan</ion-button>
    <ion-button *ngIf="id" expand="full" (click)="update()">Update</ion-button>
    <br>
    <ion-button *ngIf="id" color="danger" fill="clear" (click)="hapus()">Hapus</ion-button>
  </div>
</ion-content>