<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pelanggan</ion-title>
    <ion-buttons slot="end" style="margin-right: 26px;">
      <ion-button color="light" fill="outline" [routerLink]="['/pelanggan-detail/','','','','']">
        <ion-icon name="add"></ion-icon>
        Tambah
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-vertical" style="max-width: 100%;">
    <ion-card-content class="ion-no-padding">
      <ion-searchbar class="ion-no-padding" debounce="500" animated placeholder="Pencarian"
        (keyup)="load_data($event.target.value)">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading">
    <ion-card style="max-width: 100%;">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:180px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!loading" style="max-width: 100%;">
    <ion-card-content class="ion-no-padding">
      <table>
        <tr>
          <th>No.</th>
          <th>Nama Pelanggan</th>
          <th>Alamat</th>
          <th>Catatan</th>
        </tr>
        <tr *ngFor="let db of data; let i = index"
          [routerLink]="['/pelanggan-detail/', db.id, db.nama_pelanggan, db.alamat, db.catatan]">
          <td>{{i + 1}}</td>
          <td>{{db.nama_pelanggan}}</td>
          <td>{{db.alamat}}</td>
          <td>{{db.catatan}}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>