/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div,
ion-item {
    color: #666;
}

hr {
    background-color: #ddd;
}

table {
    width: 100%;
    th {
        background-color: #444;
        color: #eee;
        padding: 10px;
        text-align: left;
        white-space: nowrap;
    }
    tr:hover {
        background-color: #f6f6f6;
        cursor: pointer;
    }
    td {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        vertical-align: text-top;
    }
}

ion-button,
ion-card {
    margin: auto;
    max-width: 600px;
}

ion-content {
    --background: #ecf0f1;
}

ion-input {
    --placeholder-color: #999 !important;
    border-bottom: 1px solid #ddd;
}

ion-toolbar {
    --background: #3498db;
    --color: var(--ion-color-light);
}
